# Ignora file di database
db.sqlite3
*.sqlite3

# Ignora le cartelle di cache di Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignora le dipendenze
venv/
myenv/
.env

# Ignora i file di log e temporanei
*.log
*.pot
*.pyc
*.swp
.DS_Store

# Ignora i file statici generati
/staticfiles/


